/* Custom CSS/Overrides */

h1, h2, h3 {
  font-weight: normal;
}

/* Header Bar */

.navbar {
  border-radius: 0;
  box-shadow: 0 5px 20px 0 rgba(0,0,0,.3);
  border-bottom: 2px solid #444;
}

.navbar-brand {
  padding-top: 18px;
  font-size: 22px;
}

.navbar-brand i {
  margin-right: 8px;
}

/* Panels */

.panel-body {
  border: 1px solid #464646;
  border-top: 2px solid #666;
  border-radius: 4px;
  padding-bottom: 0;
  box-shadow: 0 0 10px 0 rgba(0,0,0,.9);
}

.panel-body h2 {
  margin-top: 0;
  font-size: 18px;
  padding-bottom: 10px;
  margin-bottom: 15px;
  border-bottom: 1px solid #4c4c4c;
}

.panel-body h2 > i {
  margin-right: 8px;
}

/* Stream */

.tweet-stream {
  margin: 0 0 15px 0;
  padding: 10px;
  background-color: #1a1a1a;
  height: 500px;
  overflow: hidden;
  border: 1px solid #000;
  border-radius: 3px;
  box-shadow:inset 0 0 10px 0 rgba(0,0,0,.7);
}

.tweet-stream li {
  list-style: none;
  border-bottom: 1px dashed #565656;
  margin: 0 0 5px 0;
  padding: 0 0 5px 0;
  font: normal 12px monospace;
}

/* List Groups */

.list-group {
  box-shadow: 0 0 10px 0 rgba(0,0,0,.4);
  max-height: 358px;
  overflow-y: scroll;
}

.list-group-item {
  border: 1px solid #555;
}

.list-group-item strong {
  font-weight: bold;
  color: #fff;
}

.list-group-item .list-time-stats {
  margin: 0;
  padding: 0;
}

.list-group-item .list-time-stats li {
  list-style: none;
  display: inline-block;
  padding: 0;
  margin: 0;
  margin-right: 8px;
  text-align: left;
}

.list-group-item .list-time-stats strong {
  font-weight: bold;
  color: #fff;
}